* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header,
.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 60px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .nav .nav__link,
.hero-section__paragraph{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.hero-section__title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-section__button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    border-style: solid ;
    border-radius: 8px;
}

.hero-section__left {
    margin-right: 20px;
}



