* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header,
.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 60px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .nav .nav__link,
.hero-section__paragraph{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.hero-section__title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-section__button,
.call-to-action-section__button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    border-style: solid ;
    border-radius: 8px;
}

.hero-section__left {
    margin-right: 20px;
}

.info-section {
    padding: 30px 10% 60px;
}

.info-section__title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    margin-bottom: 30px;
}

.info-section__gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info-section_photo {
    max-width: 180px;
}

.info-section__image {
    width: 180px;
    height: auto;
    border-radius: 15px;
}

.info-section__paragraph {
    text-align: center;
}

.quote-section {
    padding: 100px 15% 60px;
    background-color: #e5e7eb;
}

.quote-section__quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 20px;
}

.quote-section__quote-author {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-section {
    padding: 60px 10% 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-section__card {
    background-color: #3882f6;
    width: 100vh;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    color: #e5e7eb;
}

.call-to-action-section__button {
    border-color: #e5e7eb;
}



