* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    gap: 5px;
}

header .nav .nav__link{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}



